---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";

import TestReactComponent from "@/components/TestReactComponent";
---

<Layout title="Ben Powley">
  <main class="p-12 font-bold">
    <h1 class="text-xl lg:text-6xl">
      benpowley<span class="opacity-20">.xyz</span>
    </h1>

    <TestReactComponent />
  </main>
</Layout>
