---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="p-12 font-bold">
    <h1 class="text-6xl">benpowley<span class="opacity-20">.xyz</span></h1>
  </main>
</Layout>
